/* typical device breakpoints
pequenas telas: ate 320px
celular: de 320 ate 480
tablet:481 ate 768
desktop(laptop): 768 ate 1024px
desktop large: 1025 ate 1200
grandes telas: acima de 1201
*/

@media print {
    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    body {
        background-image: url(../imagens/back-print.jpg);
        
    }
    main {
        border: 2px solid black
    }
    main h1{
        text-shadow: none;
        color: black;
    }
}
 /*tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {
   
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#tv {display: none;}
    img#pc {display: none;}
}
 /*desktop*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
   
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#tv {display: none;}
    img#pc {display: block;}
}
/* grandes telas*/
@media screen and (min-width: 1200px) {
    
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#tv {display: block;}
    img#pc {display: none;}
}
